<div class="row">
  <div class="col-md-4">
    <h1>Users</h1>
    <ul>
      <% @users.each do |user| %>
        <li>
          <%= link_to user.email, user_path(user) %>(<%= user.name %>)
        </li>
      <% end %>
    </ul>



  </div>
  <div class="col-md-8">
    <h1>Pictures</h1>
    <div class="row inline">
      <% @pictures.each do |picture| %>
        <%= image_tag(picture.image.url(:thumb), class: 'media-object') %>
      <% end %>
    </div>
  </div>
</div>
