<div class="media">
  <div class="media-left">
    <%= link_to image_tag(picture.image.url(:thumb), class: 'media-object'), picture_path(picture) %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Picture #: <%= picture.id %></h4>
  </div>
  </div>
</div>
