<div class="media">
  <div class="media-left">
    <%= link_to image_tag(picture.image.url, class: 'media-object'), picture.image.url, target: '_blank' %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Untitled</h4>
  </div>
</div>
