<h1><%= image_tag(@picture.image.url, class: 'media-object') %></h1>
<%= link_to 'Remove', picture_path(@picture), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>
<p><%= link_to "Return to pictures", pictures_path %></p>
